body{
    background-color: black;
    align-content: center;
    justify-items: center;
}
.container{
    background: black;
    height: 400px;
    width: 300px;
    justify-items: center;
    padding: 2%;
    border: solid 5px;
    
}
.textbox {
    margin-bottom: 20px;
    font-size: 30px;
    padding: 10px;
    
    border-radius: 5px;
    text-align: right;
    color: white;
    width: 350px;
    
}
.container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    height: 200px;
  
}
button{
    border-radius: 100px;
    height: 90px;
    width: 90px;
    border: none;
    margin: 5%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background:  #505050;
}
button:hover {
    background: #3a3a3a
}
